---
import Nav from "../components/Nav.astro";
import Theme from "../components/Theme.astro";
import { ViewTransitions } from "astro:transitions";
import "../styles/global.css";
import "../styles/theme.css";

export interface Props {
	title: string;
	name?: string;
}

const { title, name } = Astro.props;

const year = new Date().getFullYear();

const isApp = name !== undefined;
// console.log(isApp);
// console.log(filename);
const pwa = `/apps/${name}/manifest.json`;
// const app = `/apps/${filename}/app.js`;
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="msapplication-TileColor" content="black" />
		<meta name="theme-color" content="black" />
		<meta name="background-color" content="black" />
		<meta name="description" content={title} />
		<title>{title}</title>
		<ViewTransitions />
		<link rel="icon" href="/favicon.svg" type="image/svg+xml" />
		<link rel="apple-touch-icon" href="/pwa-192x192.png" />
		<link rel="mask-icon" href="/favicon.svg" color="#FFFFFF" />
		{isApp && <link rel="manifest" href={pwa} />}
		<!-- {isApp && <script is:inline src={app} />} -->
	</head>
	<body>
		<header>
			<Nav />
			<h1 class="title">{title}</h1>
			<Theme />
		</header>
		<main>
			<slot />
			<footer>&copy; {year}, Jake Surrett. All rights reserved.</footer>
		</main>

		<style>
			:root {
				--font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
				--font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
				--font-size-xl: clamp(1rem, 3vw + 1.5rem, 3.25rem);
			}

			body {
				/* font-size: var(--font-size-base); */
				display: grid;
				grid-template-rows: 3rem 1fr;
				place-content: center;
				min-block-size: 100vh;
				color: var(--color-text);
				background-color: var(--color-bg);
				overflow: hidden;
			}

			main {
				display: flex;
				flex-direction: column;
				gap: 1rem;
				margin-top: 3rem;
				min-height: calc(100vh - 3rem);
				min-width: 100vw;
				overflow: auto;
			}

			header {
				position: fixed;
				text-align: center;
				inset: 0 0 auto 0; /* top right bottom left */
				height: 3rem;
				margin: 0 auto;
				background-color: var(--color-bg-alt);
				z-index: 100;
			}

			.title {
				margin-top: 0.5rem;
				color: var(--color-text);
				font-size: x-large;
			}

			.title a:hover {
				color: var(--color-accent);
			}

			.title a {
				text-decoration: none;
				color: var(--color-text);
			}

			footer {
				text-align: center;
				padding-top: 1rem;
				margin: 1rem;
			}
		</style>
	</body>
</html>
