---
import Nav from "../components/Nav.astro";
import Theme from "../components/Theme.astro";
import { ViewTransitions } from "astro:transitions";

export interface Props {
  title: string;
  filename?: string;
}

const { title, filename } = Astro.props;

const year = new Date().getFullYear();

const isApp = filename !== undefined;
// console.log(isApp);
// console.log(filename);
const pwa = `/apps/${filename}/manifest.json`;
const app = `/apps/${filename}/app.js`;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="description" content={title} />
    <title>{title}</title>
    <ViewTransitions />

    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/pwa-192x192.png" />
    <link rel="mask-icon" href="/favicon.svg" color="#FFFFFF" />
    {isApp && <link rel="manifest" href={pwa} />}
    {isApp && <script is:inline src={app} />}

    <!-- <style>
      main,
      footer {
        text-align: center;
      }
    </style> -->
  </head>
  <body>
    <header>
      <Nav />
      <h1 class="title"><a href="/">Jakesite</a> {title}</h1>
      <Theme />
    </header>
    <main>
      <slot />
      <footer>&copy; {year}, Jake Surrett. All rights reserved.</footer>
    </main>
    <style is:global>
      /*! modern-normalize v2.0.0 */

      *,
      ::before,
      ::after {
        box-sizing: border-box;
      }

      html {
        /* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
        font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
        line-height: 1.15; /* 1. Correct the line height in all browsers. */
        -webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
        -moz-tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
        tab-size: 4; /* 3 */
      }

      body {
        margin: 0; /* Remove the margin in all browsers. */
      }

      hr {
        height: 0; /* 1 */
        color: inherit; /* 2 */
      }

      abbr[title] {
        text-decoration: underline dotted;
      }

      b,
      strong {
        font-weight: bolder;
      }

      code,
      kbd,
      samp,
      pre {
        font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
        font-size: 1em; /* 2 */
      }

      small {
        font-size: 80%;
      }

      sub,
      sup {
        font-size: 75%;
        line-height: 0;
        position: relative;
        vertical-align: baseline;
      }

      sub {
        bottom: -0.25em;
      }

      sup {
        top: -0.5em;
      }

      table {
        text-indent: 0; /* 1 */
        border-color: inherit; /* 2 */
      }

      button,
      input,
      optgroup,
      select,
      textarea {
        font-family: inherit; /* 1 */
        font-size: 100%; /* 1 */
        line-height: 1.15; /* 1 */
        margin: 0; /* 2 */
      }

      button,
      select {
        text-transform: none;
      }

      button,
      [type="button"],
      [type="reset"],
      [type="submit"] {
        -webkit-appearance: button;
      }

      ::-moz-focus-inner {
        border-style: none;
        padding: 0;
      }

      :-moz-focusring {
        outline: 1px dotted ButtonText;
      }

      :-moz-ui-invalid {
        box-shadow: none;
      }

      legend {
        padding: 0;
      }

      progress {
        vertical-align: baseline;
      }

      ::-webkit-inner-spin-button,
      ::-webkit-outer-spin-button {
        height: auto;
      }

      [type="search"] {
        -webkit-appearance: textfield; /* 1 */
        outline-offset: -2px; /* 2 */
      }

      ::-webkit-search-decoration {
        -webkit-appearance: none;
      }

      ::-webkit-file-upload-button {
        -webkit-appearance: button; /* 1 */
        font: inherit; /* 2 */
      }

      /* --- End Normalize --- */

      summary {
        display: list-item;
      }

      h1 {
        font-size: var(--font-size-xl);
      }

      h2 {
        font-size: var(--font-size-lg);
      }

      code {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
      }
    </style>

    <style>
      :root {
        --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
        --font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
        --font-size-xl: clamp(1rem, 3vw + 1.5rem, 3.25rem);
      }

      body {
        /* font-size: var(--font-size-base); */
        display: grid;
        grid-template-rows: 3rem 1fr;
        place-content: center;
        min-block-size: 100vh;
        color: var(--color-text);
        background-color: var(--color-bg);
      }

      /* #jslot {
        text-align: center;
        width: 100%;
      } */

      main {
        margin-top: 3rem;
        padding: 1rem;
      }

      header {
        position: fixed;
        text-align: center;
        inset: 0 0 auto 0; /* top right bottom left */
        height: 3rem;
        margin: 0 auto;
        background-color: var(--color-bg-alt);
        z-index: 10;
      }

      .title {
        margin-top: 0.5rem;
        color: var(--color-text);
        font-size: x-large;
      }

      .title a:hover {
        color: var(--color-accent);
      }

      .title a {
        text-decoration: none;
        color: var(--color-text);
      }

      footer {
        text-align: center;
        padding-top: 2rem;
        margin: 2rem;
      }
    </style>
  </body>
</html>
