---
import Nav from "../components/Nav.astro";
import Theme from "../components/Theme.astro";
import { ViewTransitions } from "astro:transitions";

export interface Props {
  title: string;
  filename?: string;
}

const { title, filename } = Astro.props;

const year = new Date().getFullYear();

const isApp = filename !== undefined;
// console.log(isApp);
// console.log(filename);
const pwa = `/apps/${filename}/manifest.json`;
const app = `/apps/${filename}/app.js`;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="description" content={title} />
    <title>{title}</title>
    <ViewTransitions />

    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/pwa-192x192.png" />
    <link rel="mask-icon" href="/favicon.svg" color="#FFFFFF" />
    {isApp && <link rel="manifest" href={pwa} />}
    {isApp && <script is:inline src={app} />}

    <!-- <style>
      main,
      footer {
        text-align: center;
      }
    </style> -->
  </head>
  <body>
    <header>
      <Nav />
      <h1 class="title"><a href="/">Jakesite</a> {title}</h1>
      <Theme />
    </header>
    <main>
      <article>
        <slot />
      </article>
      <footer>&copy; {year}, Jake Surrett. All rights reserved.</footer>
    </main>
    <style>
      :root {
        --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
        --font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
        --font-size-xl: clamp(1rem, 3vw + 1.5rem, 3.25rem);
      }

      body {
        min-width: 300;
        font-family: system-ui, sans-serif;
        /* font-size: var(--font-size-base); */
        color: var(--color-text);
        background-color: var(--color-bg);
        display: grid;
        margin: 0;
        grid-template-columns: 1fr;
        grid-template-rows: 3rem 1fr;
        overflow-y: hidden;
      }

      /* #jslot {
        text-align: center;
        width: 100%;
      } */

      main {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        gap: 1rem;
        margin-top: 3rem;
        overflow-y: auto;
        min-height: calc(96vh - 3rem);
      }

      header {
        position: fixed;
        text-align: center;
        top: 0;
        height: 3rem;
        width: 100vw;
        background-color: var(--color-bg-alt);
        z-index: 1;
      }

      .title {
        margin-top: 0.5rem;
        color: var(--color-text);
        font-size: x-large;
      }

      .title a:hover {
        color: var(--color-accent);
      }

      .title a {
        text-decoration: none;
        color: var(--color-text);
      }

      footer {
        text-align: center;
        padding-top: 2rem;
        margin: 2rem;
      }
    </style>

    <style is:global>
      h1 {
        font-size: var(--font-size-xl);
      }

      h2 {
        font-size: var(--font-size-lg);
      }

      code {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
      }
    </style>
  </body>
</html>
